<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Nav.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'HomePage_Main.css'%}" type="text/css">
    <script src="{% static 'GoogleMapAPI.js'%}"></script>
    <link rel="stylesheet" href="{% static 'CardPreview.css'%}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<title>Amanti Del Caffè</title>
<body>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
          <div>
            <div>
              <ul>
                <li><a href="/">View Home</a></li>
                <li><a href="Menu">View Menu</a></li>
                <li><a href="/#MoreInfo">About Us</a></li>
                <li><a href="SignUp">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

<header id="showcase" class="grid">
    <div class="bg-image"></div>
<div class="content-wrap">
      <h1>Contact Us</h1>
      <a href="/" class="btn" id="button">Home Page</a>
      <a href="Menu" class="btn" id="button">View Menu</a>
      <section id="section01" class="demo">
        <br><br>
        <a href="#Contact-More"><span></span></a>
      </section>
  </div>
</header>

<section id="Contact-More">
    <div class="contact-wrap">
        
        <div class="container-form">
        
            <div class="infobox">
        <h1 style="color: #c49b63;"><span> <i class="fa fa-address-book" style="font-size:21px"></i></span> Contact Information</h1>
        <p>Address:<span style="font-family: 'Quicksand', sans-serif;"> 271 Southern Main Rd, Couva</span></p>
        <p>Phone:<span style="font-family: 'Quicksand', sans-serif;"> (868)236-8736</span></p>
        <p>Our Email:<span style="font-family: 'Quicksand', sans-serif;"> info@domain.com</span></p>
        </div>
    
            <div class="contactbox">
                <section id="Location">
                <div class="mapContainer">
                    <div class="mapBox1" id="map">
                        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbKnToPFKf0ZTG32VKy4r7IzO0iky6DrU&callback=initMap"
                        type="text/javascript"></script>
                    </div>
                </div>
            </section>
            </div>
        </div>
    
</section>

    
<section id="Redirected">
<div class="newsletter-back">
<div class="newsletter">
<h1 style="font-family: 'Quicksand', sans-serif; font-size: 23px;color: #c49b63;">Would You Like to Sign Up For a NewsLetter</h1>
<div class="message">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <p style="font-family: 'Quicksand', sans-serif; font-size: 15px;color: red;font-weight: bolder;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<form method="POST">
    {% csrf_token %}
    <input type="text" name="email_name" placeholder="Your Name"   autocomplete="off">
    <input type="text" name="email_address" placeholder="Your Email"  autocomplete="off"><br><br>
    <input type="text" name="telephone_number" placeholder="Phone Number"  autocomplete="off">
    <input type="text" name="home_address" placeholder="Your Address " autocomplete="off"><br><br>
    <textarea name="description" placeholder="How You Heard About Us ?" autocomplete="off" ></textarea><br><br>
    <input type="radio"><a style="color: black;">Are You Sure You Want to Subscribe to Email Newsletter</a><br><br>
    <input id="post_email" type="submit" disabled="disabled">
</form>
</div>
</div>
</section>

<script>
    $("input:radio").change(function () {$("#post_email").prop("disabled", false);});
</script>

</body>

<section id="Footer">
    <div class="containerfooter">
    <div class="boxFooter1">
        <ul>
            <li style="font-family: 'Satisfy', cursive;font-size: 20px; color: white; font-weight: 800;">Amanti Del Caffè</li>
            <li style="font-size: 16px;font-weight: bold;color: #c49b63;">Find Us</li>
            <br>
            <li>Address: 271 Southern Main Rd, Couva</li>
            <li>Phone: (868) 236-8736</li>
            <li>Email: info@domain.com</li>
        </ul>


    </div>
    <div class="boxFooter2">
        <ul>
            <br>
            <li style="font-size: 16px; font-weight: bold;color: #c49b63;">Opening Hours</li>
            <br>
            <li>Monday-Friday: 7am - 5pm</li>
            <li>Saturday: 8am - 5pm</li>
            <li>Sunday: Closed</li>

        </ul>
    </div>
    <div class="boxFooter3">
        <ul>
            <br>
            <li style="font-size: 16px; font-weight: bold;color: #c49b63;">Follow Us</li>
            <li style="letter-spacing: 5px;">
                <br>
                <a href="https://www.instagram.com/amantidelcaffe/?hl=en" ><i class="fa fa-instagram" style="font-size:24px;color: #c49b63;"></i></a>
                <a href="https://www.facebook.com/amanticaffe.tt/" ><i class="fa fa-facebook-official" style="font-size:24px;color: #c49b63;"></i></a>
                <a href="https://www.tripadvisor.co.nz/Restaurant_Review-g3526558-d13237981-Reviews-Amanti_del_Caffe-Couva_Trinidad_Trinidad_and_Tobago.html?m=19905"> <i class="fa fa-tripadvisor" style="font-size:24px;color: #c49b63;"></i></a>

            </li>
        </ul>
    </div>
    </div>
    <div class="lowerFooter">
        <div class="lowera">
            <p style="font-family: 'Quicksand', sans-serif; font-size: 15px;font-weight: 500;text-align: center;">© 2020 Amanti Del Cafe. All Rights Reserved.</p>
        </div>
        <div class="lowerb">
            <a href="https://www.linkedin.com/in/quinn-sambrano-958422194/"><p style="font-family: 'Quicksand', sans-serif; font-size: 15px;font-weight: 500;text-align: center;">Developed by Quinn Sambrano</p>
        </div>
       </a>
    </div>
    </section>

</html>