<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'HomePage_Main.css'%}" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <header id="showcase" class="grid">
        <div class="bg-image"></div>
        <div class="content-wrap">
            <h1>Amanti Del Caffè</h1>
            <h1 style="font-size: 15px; font-weight: 500;">Contact Us</h1>
            <a href="/" class="btn" id="button">Home Page</a>
            <a href="Menu" class="btn" id="button">View Menu</a>
        </div>
    </header>
<body>
    <div class="container-1">
        <div class="box-1">
            <i class="fa fa-phone"><span style="padding: 15px; font-family: 'Didact Gothic';"><a href="tel:(868) 236-8736">(868) 236-8736</a></span></i>
            <p style="width: 250px;word-wrap: break-word; padding: 10px; text-align: justify;">A small river named Duden flows by their place and supplies.</p>

        </div>
        <div class="box-2">
            <a href="https://www.google.com/maps/place/Amanti+del+caff%C3%A8/@10.448311,-61.444424,15z/data=!4m5!3m4!1s0x0:0x1799da43a5adcd78!8m2!3d10.448311!4d-61.444424" <i class="fa fa-address-book-o" href=""><span style="padding: 15px; font-family: 'Didact Gothic';">271 Southern Main Rd, Couva</span></i>
        </a>
            <p style="width: 250px;word-wrap: break-word; padding: 10px; text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, facere!</p>
        </div>
        <div class="box-3">
            <i class="fa fa-calendar-check-o"><span style="padding: 15px; font-family: 'Didact Gothic';">Monday- Saturday 7am-5pm</span></i>
            <p style="width: 250px;word-wrap: break-word; padding: 10px; text-align: justify;">Saturday's 8am- 5pm</p>
        </div>
    </div>
    
     <style>
         input[type=text]{
            font-family: menulis;
            display: block;
            background-color:rgba(0, 0, 0, 0);
            color:white;
            border: none;
            outline:none;
            padding:1.5%;
            width:95%;
            border-bottom: 1px solid grey;
         }

     </style>
   {% if messages %}
   <ul class="messages">
       {% for message in messages %}
       <h1{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h1>
       {% endfor %}
   </ul>
   {% endif %}



    <form method="POST">
        {% csrf_token %}
        <br>
        <input type="text" name="email_name" placeholder="Full Name"  autocomplete="off"><br>
        <input type="text" name="email_address" placeholder="Email Address" autocomplete="off"><br>
        <input type="text" name="telephone_number" placeholder="Telephone Number" autocomplete="off"><br>
        <input type="text" name="home_address" placeholder="Address (Optional)" autocomplete="off"><br>
        <input type="text" name="description" placeholder="How You Heard About Us ?" autocomplete="off"><br>
    <input type="radio"> <a>Are You Sure You Want to Subscribe to Email Newsletter</a><br>
    <input id="post_email" type="submit" disabled="disabled">
    </form>
    <script>
        $("input:radio").change(function () {$("#post_email").prop("disabled", false);});
    </script>
</body>
</html>