<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'Nav.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'HomePage_Main.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'MenuPage.css'%}" type="text/css">
    <script src="{% static 'GoogleMapAPI.js'%}"></script>
    <script src="{% static 'jquery-3.4.1.js'%}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

</head>
<title>Amanti Del Caffè</title>
<body>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
          <div>
            <div>
              <ul>
                <li><a href="/">View Home</a></li>
                <li><a href="Menu">View Menu</a></li>
                <ul style="list-style-type: none;text-align:right;">
                    <li><a style="color: inherit;text-decoration: none;" href="../../static/Menu_PDF.pdf">Menu PDF</a></li>
                    <li><a style="color: inherit;text-decoration: none;" href="Menu#Breakfast">Breakfast</a></li>
                    <li><a style="color: inherit;text-decoration: none;" href="Menu#Lunch">Lunch</a></li>
                    <li><a style="color: inherit;text-decoration: none;" href="Menu#Drinks">Drinks</a></li>
                </ul>
                <li><a href="/#MoreInfo">About Us</a></li>
                <li><a href="SignUp#Contact-More">Contact Us</a></li>
                <li><a href="SignUp#Redirected">Sign Up Newsletter</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <header id="showcase" class="grid">
        <div class="bg-image"></div>
        <div class="content-wrap">
        <h1>Our Menu</h1>
            <a href="/" class="btn" id="button">Home Page</a>
            <a href="SignUp" class="btn" id="button">Contact Us</a>
            <section id="section01" class="demo">
              <br><br>
              <a href="#Menu-Items"><span></span></a>
            </section>
        </div>

    </header>
<section>
    <div class="container-1">
        <div class="box-1">
            <i class="fa fa-phone"><span style="padding: 15px; font-family: 'Quicksand', sans-serif;"><a href="tel:(868) 236-8736">(868) 236-8736</a></span></i>
            <p style="width: 300px;word-wrap: break-word; padding: 10px;">Where you can find delicious treats to suit any dietary or culinary interests.</p>
        </div>
        <div class="box-2">
            <a href="https://www.google.com/maps/place/Amanti+del+caff%C3%A8/@10.448311,-61.444424,15z/data=!4m5!3m4!1s0x0:0x1799da43a5adcd78!8m2!3d10.448311!4d-61.444424" <i class="fa fa-address-book-o" href=""><span style="padding: 15px; font-family: 'Quicksand', sans-serif;">271 Southern Main Rd, Couva</span></i>
        </a>
            <p style="width: 300px;word-wrap: break-word; padding: 10px;">A quaint little cafe that is bold in flavour!</p>
        </div>
        <div class="box-3">
            <i class="fa fa-calendar-check-o"><span style="padding: 15px;  font-family: 'Quicksand', sans-serif;">Opening Hours</span></i>
            <p style="width: 300px;word-wrap: break-word; padding: 10px;">Monday-Friday: 8am - 2pm<br> Saturday: 8am - 2pm<br>Sunday: Closed</p>
        </div>
    </div>

</section>

<section id="Menu-Items">
<div class="background-c">
<div class="ul-container">
  <ul>
    <h2 style="font-size:20px;">Menu PDF <a href="../../static/Menu_PDF.pdf" class="fa fa-folder-o" style="font-size:25px; text-decoration:none;color:inherit;"></a></h2>
    <section id="Drinks">
    <h2>Drinks</h2>
    <section id="Coffee/Tea">
    <h1 style="font-size: 20px;">Coffee/Tea</h1>
    {% for x in t %}
    <li>{{x.item_name}}<span>${{x.item_price}}</span></li>
    {% endfor %}
    </section>
    <h1 style="font-size: 20px;">Frappuccino</h1>
    {% for x in f %}
    <li>{{x.item_name}}<span>${{x.item_price}}</span></li>
    {% endfor %}
    <h1 style="font-size: 20px;">Smoothies</h1>
    {% for x in sm %}
    <li>{{x.item_name}}<span>${{x.item_price}}</span></li>
    {% endfor %}
    </section>

    <section id="Breakfast">
    <h2>Breakfast</h2>
    <h1 style="font-size: 20px;">Pancakes</h1>
    {% for x in p %}
    <li>{{x.item_name}}<span>${{x.item_price}}</span></li>
    {% endfor %}
    <section id="Waffles">
    <h1 style="font-size: 20px;">Waffles</h1>
    {% for x in wa %}
    <li>{{x.item_name}}<span>${{x.item_price}}</span></li>
    {% endfor %}
    </section>
    <h1 style="font-size: 20px;">Toast</h1>
    {% for x in to %}
    <li>{{x.item_name}}<span>${{x.item_price}}</span></li>
    {% endfor %}
    </section>

    <section id="Lunch">
    <h2>Lunch</h2>
    <h1 style="font-size: 20px;">Hot Pasta</h1>
    <li style="font-weight:bold;">Served With Garlic Bread</li>
    {% for x in hp %}
    <li>{{x.item_name}}<span>${{x.item_price}}</span></li>
    <li>{{x.item_description}}</li>
    {% endfor %}
    <h1 style="font-size: 20px;">Paninis</h1>
    {% for x in pn %}
    <li>{{x.item_name}}<span>${{x.item_price}}</span></li>
    {% endfor %}
    <h1 style="font-size: 20px;">Bagels</h1>
    {% for x in b %}
    <li>{{x.item_name}}<span>${{x.item_price}}</span></li>
    {% endfor %}
    <h1 style="font-size: 20px;">Subs</h1>
    {% for x in s %}
    <li>{{x.item_name}}<span>${{x.item_price}}</span></li>
    {% endfor %}
    <h1 style="font-size: 20px;">Wraps</h1>
    <li style="font-weight:bold;">Plain or Spinach Wraps</li>
    {% for x in w %}
    <li>{{x.item_name}}<span>${{x.item_price}}</span></li>
    {% endfor %}
    <h1 style="font-size: 20px;">Fries</h1>
    {% for x in fr %}
    <li>{{x.item_name}}<span>${{x.item_price}}</span></li>
    {% endfor %}
    <li>(Cheese Sauce & Grilled Chicken or Chicken Rings)</li>
    <h1 style="font-size: 20px;">Salad</h1>
    {% for x in sa %}
    <li>{{x.item_name}}<span>${{x.item_price}}</span></li>
    <li>{{x.item_description}}</li>
    {% endfor %}

    </section>


  </ul>

</div>
<br><br>
</div>

</section>
</body>
<section id="Footer">
  <div class="containerfooter">
  <div class="boxFooter1">
      <ul>
          <li style="font-family: 'Satisfy', cursive;font-size: 20px; color: white; font-weight: 800;">Amanti Del Caffè</li>
          <li style="font-size: 16px;font-weight: bold;color: #c49b63;">Find Us</li>
          <br>
          <li>Address: 271 Southern Main Rd, Couva</li>
          <li>Phone: (868) 236-8736</li>
          <li>Email: amantidelcafe1@gmail.com</li>

      </ul>


  </div>
  <div class="boxFooter2">
      <ul>
          <br>
          <li style="font-size: 16px; font-weight: bold;color: #c49b63;">Opening Hours</li>
          <br>
          <li>Monday-Friday: 8am - 2pm</li>
          <li>Saturday: 8am - 2pm</li>
          <li>Sunday: Closed</li>

      </ul>
  </div>
  <div class="boxFooter3">
      <ul>
          <br>
          <li style="font-size: 16px; font-weight: bold;color: #c49b63;">Follow Us</li>
          <li style="letter-spacing: 5px;">
              <br>
              <a href="https://www.instagram.com/amantidelcaffe/?hl=en" ><i class="fa fa-instagram" style="font-size:24px"></i></a>
              <a href="https://www.facebook.com/amanticaffe.tt/" ><i class="fa fa-facebook-official" style="font-size:24px "></i></a>
              <a href="https://www.tripadvisor.co.nz/Restaurant_Review-g3526558-d13237981-Reviews-Amanti_del_Caffe-Couva_Trinidad_Trinidad_and_Tobago.html?m=19905"> <i class="fa fa-tripadvisor" style="font-size:24px"></i></a>

          </li>
      </ul>
  </div>
  </div>
  <div class="lowerFooter">
      <div class="lowera">
          <p style="font-family: 'Quicksand', sans-serif; font-size: 15px;font-weight: 500;text-align: center;">© 2020 Amanti Del Cafe. All Rights Reserved.</p>
      </div>
      <div class="lowerb">
          <a href="https://www.linkedin.com/in/quinn-sambrano-958422194/"><p style="font-family: 'Quicksand', sans-serif; font-size: 15px;font-weight: 500;text-align: center;">Developed by Quinn Sambrano</p>
      </div>
     </a>
  </div>
  </section>

</html>