<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load static %}
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="{% static 'HomePage_Pic.css'%}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <style>
body{
   background-color: grey;
    font-family: 'Didact Gothic';
}

@media(min-width:768px){

.container-review{
color: white;
display: flex;
font-weight: 400;
height: 200px;
}
}

.container-review div{
  background-color: #c49b63;
  padding: 5px;
}

.box1-re{
width:80%;  
}

.box2-re{
width:80%;  
}

.box3-re{
width:80%;
}

.customer-rev{
  background-color: aquamarine;

}
.customer-rev p{
  text-align: center;
  
  }
</style>
</head>
<body>




</head>

<body>
  

<div class="container-img">
  <div class="box1-img">

  </div>
  <div class="box2-img">

  </div>
  <div class="box3-img">
  </div>
  <div class="box4-img">
  </div>
  
</div>

<!-- <div class="customer-rev">
<p style="font-size: 15px;line-height: 50px;">TESTIMONIALS</p>
<p style="font-size: 30px;line-height: 150px;">Customer Thoughts</p>
</div> -->
<!-- 
<div class="container-review">
  <div class="box1-re">
<p>"Had breakfast there yesterday morning with my best friend. We are in love with this little diner. Food and drinks are great but the owner and his wife are fantastic. It was our first time there but we definitely felt comfortable and will be there as often as we can. Location is great, ample parking, diner is spotless, food is awesome!"</p>
<p>- Sheena R</p>
<p style="font-size: 15px;">One Month Ago</p>
  </div>
  <div class="box2-re">
<p>"Food was great; Hospitality was exceptional. Met the owner who was really nice - checked up on us regularly and insisted on quality assurance. Had chocolate chip pancakes and scrambled eggs.</p>
<p>- Aaron P</p>
<p style="font-size: 15px;">Two Weeks Ago</p>
  </div>
  <div class="box3-re">
<p>"The customer service is on point . I love the ambience very warm and inviting . The menu is quite affordable and lastly it's in my hometown."</p>
<p>- Vijay N</p>
<p style="font-size: 15px;">One Month Ago</p>
  </div>

</div>
 -->


</div>
</body>



</html>