@media(min-width:768px){

.container-img{
    display: flex;
    }
    
}    
.box1-img{
      background-image: url(img/img5.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      max-width: 100%;
      width: 1000px;
      height: 350px;
 }

 .box2-img{
    background-image: url(img/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    width: 1000px;
    height: 350px;
 }

 .box3-img{
    background-image: url(img/img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    width: 1000px;
    height: 350px;
 }

 .box4-img{
    background-image: url(img/img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    width: 700px;
    height: 350px;
 }