html{
  scroll-behavior: smooth;

}


.container1{
  justify-content: center;

}
.container1 h3{
    font-family: menulis;
    font-size: 30px;
  }
  
  .container1 h1{
    font-family: menulis;
    font-size: 15px;
  }
  
  .container1 h2{
    width: 300px; 
    font-family: menulis;
    font-size: 10px;
    word-wrap: break-word;
  
  }

  @media(min-width: 768px){
  .container1{
  border:1px;
  display: flex;
  }

  table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}
  
  
  .container1 h1{
    font-family: menulis;
    font-size: 15px;
  }
  .box-1a{
    flex:1;
    order: 1;
  }
  .box-2a{
    flex:1;
    order: 2;
  }
  
  .container1 h3{
    font-family: menulis;
    font-size: 30px;
  }
  .container1 h2{
    font-family: menulis;
    font-size: 10px;
  }

  }
  .button-group{
    display: block;
    max-width: 300px;
    margin: auto;
  
  }
  
  .tab {
    overflow: hidden;
    padding:5%;
}

button {
    background-color: Transparent;
    font-family: 'Didact Gothic';
    color: black;
    text-decoration: none;
    padding: 20px 15px;
    margin: 0 3px;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    font-size: 13px;
    border: none;
    border-bottom: 1px solid #ddd;
    color: white;
}

/* Change background color of buttons on hover */

.tab button:hover {
    border-bottom: 1px solid #c49b63;
    
}
/* Create an active/current tablink class */

.tab button.active {
    border-bottom: 2px solid #c49b63;
    color: #c49b63;
}
/* Style the tab content */

.tabcontent {
    display: none;
    animation: fadein .2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

table {
    border-collapse: collapse;
    /* width: 50%; */
    margin: 0 auto;
}

th{
  padding-top: 15px;
}

td {
    border-bottom: 1px solid grey;
    padding: 8px;
    font-family: 'Didact Gothic';
}

.btn-group {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    table {
        border-collapse: collapse;
        width: 95%;
        margin: 0 auto;
    }
}


.section-b-popitem{
 color: grey;

}

.background-test{
  background: url(main_background2.webp);
  background-attachment: fixed;
}
.box1-best img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}